body, #root{
    margin: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    overflow: hidden;
}
@font-face {
    font-family: 'Ownglyph_ParkDaHyun';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2411-3@1.0/Ownglyph_ParkDaHyun.woff2') format('woff2');
    font-weight:lighter;
    font-style: normal;
}
.lobby{
    flex: 1;
    height: 100%;
    position: relative;
    .textBox{
        font-family: 'Ownglyph_ParkDaHyun';
        position: absolute;
        width: max-content;
        height: max-content;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        transition: 1s ease-in-out;
        span {
            display: inline-block;
            animation: shake 5s infinite;
            font-size: 130px;
        }
        span#spanT{
            margin-left: 40px;
        }
        span:nth-child(1) { animation-delay: 0s; }
        span:nth-child(2) { animation-delay: 0.05s; }
        span:nth-child(3) { animation-delay: 0.1s; }
        span:nth-child(4) { animation-delay: 0.15s; }
        span:nth-child(5) { animation-delay: 0.5s; }
    }

}



@keyframes shake {
    0% { transform: translate(0, 0) rotate(0deg); }
    10% { transform: translate(-2px, 1px) rotate(-1deg); }
    20% { transform: translate(1px, -1px) rotate(1deg); }
    30% { transform: translate(-1px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -2px) rotate(-1deg); }
    50% { transform: translate(-1px, 1px) rotate(1deg); }
    60% { transform: translate(2px, -1px) rotate(0deg); }
    70% { transform: translate(-1px, 2px) rotate(-1deg); }
    80% { transform: translate(1px, -1px) rotate(1deg); }
    90% { transform: translate(-2px, 1px) rotate(0deg); }
    100% { transform: translate(0, 0) rotate(0deg); }
}


