body, #root{
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    overflow: hidden;
}
@font-face {
    font-family: 'Ownglyph_ParkDaHyun';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2411-3@1.0/Ownglyph_ParkDaHyun.woff2') format('woff2');
    font-weight:lighter;
    font-style: normal;
}
@font-face {
    font-family: 'SchoolSafetyRoundedSmile';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2408-5@1.0/HakgyoansimDunggeunmisoTTF-R.woff2') format('woff2');
    font-weight: normal;
    font-display: swap;
}
.Login{
    width: 100vw;
    height: 100vh;
    float: left;
}

.textBox{
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-family: 'Ownglyph_ParkDaHyun';
    position: absolute;
    width: max-content;
    height: max-content;
    top: 45%;
    left: 50%;
    z-index: 100;
    transform: translate(-50%,-50%);
    transition: 1s ease-in-out;
    span {
        display: inline-block;
        animation: shake 5s infinite;
        font-size: 130px;
    }
    span#spanT{
        margin-left: 40px;
    }
    span:nth-child(1) { animation-delay: 0s; }
    span:nth-child(2) { animation-delay: 0.05s; }
    span:nth-child(3) { animation-delay: 0.1s; }
    span:nth-child(4) { animation-delay: 0.15s; }
    span:nth-child(5) { animation-delay: 0.5s; }
}

.registerBox{
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5);

    background-color: whitesmoke;
    width: 500px;
    height: 750px;
    position: absolute;
    top: 50%;
    left: 75%;
    z-index: 100;
    transform: translate(-50%,-50%);
    transition: 1s ease-in-out;
    animation: sizeSetRegister 1s;
    border-radius: 10px;
    outline: 1px solid lightgray;
    overflow: hidden;
    .type{
        width: 100%;
        height: 100px;
        float: left;
        text-align: center;
        line-height: 50px;
        font-size: 30px;
        font-family: 'SchoolSafetyRoundedSmile';
    }
    
    .loginInput{
        width: 100%;
        height: 250px;
        float: left;
        position: relative;
        .InputBox{
            margin-left: 10%;
            width: 70%;
            height: 100%;
            float: left;
            padding-top: 30px;
        }
        .Input{
            width: 80%;
            height: 50px;
            margin-left: 10%;
            position: relative;
            margin-top: 15px;
            button{
                position: absolute;
                width: 80px;
                left: 100%;
                top: 20%;
                height: 85%;
                border: none;
                outline: 1px solid lightgray;
                border-radius: 5px;
                background-color: rgb(169, 169, 240);
                transform: translate(-100%,0%);
                color: white;
            }
            button:hover{
                background-color: rgb(112, 112, 253);
            }
            input{
                left: 0;
                right: 0;
                width: auto;
                height: 80%;
                position: absolute;
                border: none;
                outline: 1px solid lightgray;
                border-radius: 5px;
                top: 20%;
                padding-left: 10px;
                font-size: 15px;
                background-color: #ffffff12;
            }
            p{
                pointer-events: none;
                padding-left: 5px;
                padding-right: 5px;
                background-color: whitesmoke;
                border-radius: 100px;
                color: gray;
                font-weight: bold;
                font-size: small;
                height: 20px;
                line-height: 20px;
                position: absolute;
                transition: 0.2s;
                top: 7px;
                left: 5px;
            }
            
        }
        .Input input:hover{
            border: 1px solid gray;
        }
        .Input input:focus{
            border: 1px solid black;
        }
        .Input input:focus + p,
        .Input input:not(:placeholder-shown) + p{
            top: -10px;
            color: black;
        }
        .Submit{
            width: 100%;
            height: 40px;
            float: left;
            margin-top: 15px;
            position: relative;
            button{
                width: 82%;
                margin-left: 10%;
                height: 100%;
                background-color: rgb(169, 169, 240);
                border: none;
                border-radius: 5px;
                color: white;
                transition: 0.2s;
            }
            button:hover{
                border: none;
                outline: none;
                background-color: rgb(112, 112, 253);
            }
        }
        .Error{
            margin-top: 5px;
            width: 100%;
            height: 20px;
            float: left;
            p{
                margin: 0;
                margin-right: 45px;
                height: 100%;
                float: right;
                line-height: 20px;
                color: rgb(253, 56, 56);
            }    
        }
        .Register{
            margin-top: 5px;
            width: 100%;
            height: 20px;
            float: left;
            p{
                margin: 0;
                height: 100%;
                float: right;
                line-height: 20px;
                font-size: 14px;
                line-height: 23px;
                color: gray;
                margin-right: 5px;
            }    
            a{
                margin: 0;
                margin-right: 45px;
                height: 100%;
                float: right;
                
                line-height: 20px;
                color: blue;
                text-decoration: none;
            }   
            a:hover{color: black;}
        }
        span{
            margin-top: 20px;
            width: 45%;
            height: 1px;
            float: left;
            border-bottom: 1px solid lightgray;
        }
        .or{
            padding-left: 2.5%;
        }
        .or p{
            width: 20px;
            height: 15px;
            background-color: transparent;
            margin-left: 10px;
            margin-right: 10px;
            float: left;
            line-height: 5px;
        }

    }
    .otherLogin{
        width: 100%;
        height: 200px;
        float: left;
        padding-top: 22px;
        button{
            width: 80%;
            margin-left: 10%;
            height: 40px;
            margin-top: 10px;
            border: 1px solid lightgray;
            border-radius: 15px;
            float: left;
            display: flex;
            justify-content: center;
            transition: 0.2s;
            img{
                width: 30px;
                margin-top: 3px;
                outline: 1px solid black;
                border-radius: 100px;
                height: 30px;
                float: left;
            }
            p{
                margin-left: 10px;
                line-height: 0px;
                text-align: center;
                float: left;
                font-weight: bold;
                font-size: large;
            }
        }
        button:hover{
            background-color: rgb(255, 255, 255);
            border: 1px solid gray;
        }
    }
    

}
Canvas{
    margin-left: 50%;
    border: 1px solid gray;
    transform: translateX(-50%);
}


.drawInfo, .reDraw {
    font-family: 'Ownglyph_ParkDaHyun';
    font-size: large;
    width:100px;
    text-align: center;
    left:83%;
    transform: translate(-50%);
    position: absolute;
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 6px 18px rgba(0,0,0,0.08);
    .semo{
        position: absolute;
        width: 10px;
        height: 30px;
        transform: rotate(45deg);
        border-radius: 100px;
        background-color: white;
        top: 75%;
        box-shadow: 0 6px 18px rgba(0,0,0,0.08);
    }
    p{padding: 0px;margin: 10px;}
    a{
        float: right;
        margin-right: 5px;
        color: red;
    }
}
.reDraw{
    cursor: pointer;
    top: 65%;
}
.reDraw:hover{
    outline: 1px solid gray;
}
@keyframes sizeSetRegister {
    0% {width: 100px; height: 100px;}
    50% { width: 500px; height: 100px;}
    100% {width: 500px; height: 750px;}
}

@keyframes shake {
    0% { transform: translate(0, 0) rotate(0deg); }
    10% { transform: translate(-2px, 1px) rotate(-1deg); }
    20% { transform: translate(1px, -1px) rotate(1deg); }
    30% { transform: translate(-1px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -2px) rotate(-1deg); }
    50% { transform: translate(-1px, 1px) rotate(1deg); }
    60% { transform: translate(2px, -1px) rotate(0deg); }
    70% { transform: translate(-1px, 2px) rotate(-1deg); }
    80% { transform: translate(1px, -1px) rotate(1deg); }
    90% { transform: translate(-2px, 1px) rotate(0deg); }
    100% { transform: translate(0, 0) rotate(0deg); }
}




