@font-face {
    font-family: 'Ownglyph_ParkDaHyun';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2411-3@1.0/Ownglyph_ParkDaHyun.woff2') format('woff2');
    font-weight:lighter;
    font-style: normal;
}
@font-face {
    font-family: 'SchoolSafetyRoundedSmile';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2408-5@1.0/HakgyoansimDunggeunmisoTTF-R.woff2') format('woff2');
    font-weight: normal;
    font-display: swap;
}
.LobbyDrawSelect{
    
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    float: left;
    background-color: rgba(0, 0, 0, 0.39);
    .drawSelectBox{
        box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        background-color: white;
        border-radius: 15px;
        outline: 1px solid gray;
        width: 500px;
        height: 300px;
        z-index: 200;
        overflow: hidden;
    }
    .close{
        font-family: 'Ownglyph_ParkDaHyun';
        position: absolute;
        top: 1%;
        left: 100%;
        cursor: pointer;
        transform: translateX(-100%);
        text-align: center;
        line-height: 40px;
        color: rgb(250, 136, 136);
        font-size: xx-large;
        font-weight: bold;
        width: 40px;
        height: 40px;
    }
    .close:hover{
        color: rgb(255, 68, 68);
    }
    .menuWrap{
        top: 55%;
        left: 50%;
        position: absolute;
        transform: translate(-50%,-50%);
        display: flex;
        flex-direction: row;
    }
    .menuWrap > input{
        font-family: 'SchoolSafetyRoundedSmile';
        width: 450px;
        height: 70px;
        border-radius: 5px;
        text-align: center;
        font-size: xx-large;
    }
    .menuWrap > button{
        font-family: 'SchoolSafetyRoundedSmile';
        width: 460px;
        margin-top: 10px;
        height: 50px;
        font-size: xx-large;
        background-color: rgb(171, 171, 250);
        border-radius: 5px;
        border: none;
        color: white;
        outline: 1px solid gray;
    }
    .menuWrap > button:hover{
        background-color: rgb(99, 99, 252);
        outline: 1px solid black;
    }
    .menu{
        font-family: 'SchoolSafetyRoundedSmile';
        margin: 10px;
        cursor: pointer;
        animation: zeroToBack 1s;
        width: 220px;
        height: 220px;
        border-radius: 15px;
        position: relative;
        overflow: hidden;
        float: left;
        background-color: rgba(255, 255, 255, 0.8);
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
        transition: all 0.2s cubic-bezier(.25,.8,.25,1);
        
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-items: center;
        
        img{
            -webkit-user-drag: none;
            -khtml-user-drag: none;
            -moz-user-drag: none;
            -o-user-drag: none;
            width: 70px;
            height:70px;
            margin-top: 20px;
            margin-bottom: 13px;
        }
        h1, p{
            color:black;
        }
        p{margin-top: 0px; font-size: larger;}
    }
    .menu:hover{
        background-color: rgba(255, 255, 255, 0.452);
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    }
}
