.draw{
    cursor: crosshair;
    width: 100vw;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
        canvas{
        width: 100vw;
        height: 100vh;
        cursor: none;
        z-index: 1;
        background-color: transparent;
    }
}