.LanguageSetter{
    width: 100px;
    height: 50px;
    position: absolute;
    top: 100%;
    left: 100%;
    z-index: 100;
    transform: translate(-100%,-100%);
    p{
        font-family: 'SchoolSafetyRoundedSmile';
        width: 50px;
        height: 50px;
        float: left;
        text-align: right;

    }
    img{
        border-radius: 100px;
        width: 40px;
        margin: 5px;
        height: 40px;
        float: left;
        cursor: pointer;
    }
}

@font-face {
    font-family: 'SchoolSafetyRoundedSmile';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2408-5@1.0/HakgyoansimDunggeunmisoTTF-R.woff2') format('woff2');
    font-weight: normal;
    font-display: swap;
}