.SideTools{
    position: fixed;
    top: 0;
    left: 100%;
    transform: translateX(-100%);
    width: 50px;
    height: 100vh;
    z-index: 100;
    outline: 1px solid gray;
    .tool{
        width: 50px;
        height: 50px;
        background-color: aliceblue;
        float: left;
        img{
            width: 100%;
            height: 100%;
            float: left;
            -webkit-user-drag: none;
            -khtml-user-drag: none;
            -moz-user-drag: none;
            -o-user-drag: none;
        }
        cursor: pointer;
    }
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none
}