
.Login{
    width: 100%;
    height: 100%;
    float: left;
    .LoginBox{
        width: 500px;
        height: 500px;
        border: 1px solid lightgray;
        border-radius: 15px;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        position: absolute;
        padding-top: 70px;
        background-color: white;
    }   
   
    .InputBox{
        width: 80%;
        height: 50px;
        margin-left: 10%;
        position: relative;
        margin-top: 15px;
        input{
            width: 100%;
            height: 80%;
            position: absolute;
            border: none;
            outline: 1px solid lightgray;
            border-radius: 5px;
            top: 20%;
            padding-left: 5px;
        }
        p{
            padding-left: 5px;
            padding-right: 5px;
            background-color: white;
            border-radius: 100px;
            color: gray;
            font-weight: bold;
            font-size: small;
            height: 20px;
            line-height: 20px;
            position: absolute;
            transition: 0.2s;

            top: 50%;
            transform: translate(10%,-25%);
        }
        button.loginButton{
            width: 100%;
            height: 80%;
            background-color: rgb(169, 169, 240);
            border: none;
            border-radius: 5px;
            color: white;
        }
        button.loginButton:hover{
            border: none;
            outline: none;
            background-color: rgb(112, 112, 253);
        }

        button.registerButton{
            width: 100%;
            height: 80%;
            background-color: rgb(172, 172, 172);
            border: none;
            border-radius: 5px;
            color: white;
        }
        button.registerButton:hover{
            border: none;
            outline: none;
            background-color: rgb(68, 68, 68);
        }
       
    }


    .InputBox:focus-within p{
        margin-left: 10px;
        color: black;
        top: 0%;
        transform: translateY(0%);
    }
    .InputBox:focus-within input{
        outline: 1px solid gray;
    }

    .InputBox.isInput p{
        margin-left: 10px;
        color: black;
        top: 0%;
        transform: translateY(0%);
    }
    .InputBox.isInput input{
        outline: 1px solid gray;
    }

    .line{
        width: 90%;
        margin-left: 5%;
        height: 1px;
        margin-top: 50px;
        background-color: lightgray;

    }
}

.ErrorMessage{
    float: right;
    margin-right: 50px;
    margin-top: 5px;
    color: red;
    font-size: small;
}
.ProfileImage{
    width: 15vw;
    height: 15vw;
    margin-left: 50%;
    transform: translateX(-50%);
    border: 1px solid gray;
    border-radius: 100%;
}
.ProfileImage > img{
    width: 100%;
    height: 100%;
    border-radius: 100%;
}
.ProfileImage > img:hover{
    opacity: 0.3;
}
.drawProfileImageBox{
    width: 400px;
    height: 320px;
    top: 50%;
    left: 80%;
    position: absolute;
    transform: translate(-50%,-50%);
    border: 1px solid lightgray;
    border-radius: 15px;
    background-color: white;
    p{
        width: 100%;
        text-align: center;
        float: left;
    }
}
.drawProfileImage{
    float: left;
    width: 200px;
    height: 200px;
    border-radius: 100%;
    left: 50%;
    margin-top: 15px;
    transform: translate(-50%);
    position: relative;
    border: 1px solid gray;
    background-color: white;
    cursor: none;
}
.drawProfileImageButton{
    width: 100%;
    float: left;
    button{
        width: 45%;
        margin: 2.5%;
        height: 50px;
        border: none;
        border-radius: 5px;
        outline: 1px solid lightgray;
        background-color: rgb(179, 179, 243);
        color: white;
    }
    button:hover{
        background-color: rgb(106, 106, 245);
        font-weight: bold;
    }

    button.close{
        background-color: rgb(243, 179, 179);
    }
    button.close:hover{
        background-color: rgb(255, 107, 107);
    }
}