.Chat{
    width: 400px;
    border-radius: 5px 0 0 5px;
    height: 100vh;
    position: absolute;
    z-index: 100;
    top: 0;
    left: 100%;
    transform: translateX(-100%);
    background-color: rgba(0, 0, 0, 0.288);
    .inChat{
        width: calc(100% - 30px);
        height: min-content;
        position: relative;
        height: calc(100% - 60px);
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding-bottom: 10px;
        padding-left: 15px;
    }
    .chatInput{
        width: 370px;
        height: 35px;
        margin-left: 15px;
        float: left;
        position: relative;
        border-radius: 5px;
        outline: 1px solid lightgray;
        background-color: white;
        border-radius: 5px;
        input{
            width: 330px;
            height: 35px;
            outline: none;
            border: none;
            padding-left: 5px;
            font-size: large;
            border-radius: 5px;
            float: left;
        }
        button{
            width: 35px;
            float: left;
            height: 35px;
            border: none;
            outline: none;
            background-color: transparent;
            font-weight: bold;
            font-size: large;
            line-height: 6px;
            img{
                width: 100%;
                height: 100%;
            }
        }
    }
}