.SideTools{
    position: fixed;
    top: 50px;
    width: 50px;
    height: calc(100vh - 50px);
    z-index: 99;
    border-right: 1px solid gray;
    background-color: lightgray;
    .tool{
        width: 50px;
        height: 50px;
        float: left;
        img{
            width: 70%;
            height: 70%;
            margin: 15%;
            float: left;
            -webkit-user-drag: none;
            -khtml-user-drag: none;
            -moz-user-drag: none;
            -o-user-drag: none;
        }
        cursor: pointer;
    }
    .tool:hover{
        background-color: rgb(175, 173, 173);
    }
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    
    user-select:none
}


.SideTools *{
    margin: 0; padding: 0;
}