@font-face {
    font-family: 'Ownglyph_corncorn-Rg';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2412-1@1.0/Ownglyph_corncorn-Rg.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
*{
    
    margin: 0;
    padding: 0;
    user-select: none;
}
.header{
    overflow: hidden;
    left: 0;
    transition: left 0.5s;
    position: relative;
    font-family: 'Ownglyph_corncorn-Rg';
    width: 10vw;
    height: 100vh;
    min-width: 400px;
    outline: 1px solid gray;
    background-color: rgb(245, 245, 245);
    padding-top: 200px;
    z-index: 5;
    .headerButton{
        width: 55%;
        margin-left: 10%;
        height: 90px;
        line-height: 90px;
        font-size: 50px;
        cursor: pointer;
        p{
            margin-left: 50px;
            color: gray;
            transition: 0.2s;
        }
        span{
            width: 5px;
            height: 100%;
            transform: scaleY(0);
            transform-origin: center; 
            transition: transform 0.2s;
            float: left;
            background-color: black;
            border-radius: 500px;
            border: none;
            outline: none;
        }
        
    }
    .headerButton:hover span{
        transform: scaleY(0.8);
    }

    .headerButton:hover p{
        font-weight: bold;
        text-transform: uppercase;
        color: black;
    }

    #headerClose{
        width: 90%;
        position: absolute;
        top: 0;
        left: 0;
        margin: 0;
    }
    #headerClose p{
        margin: 0;
        text-align: right;
    }


    .drawTools{
        display: none;
        width: 100px;
        height: calc(100vh - 100px);
        position: absolute;
        top: 100px;
        left: calc(100% - 100px);
    }
    .drawButton{
        width: 50px;
        height: 50px;
        float: left;
        cursor: pointer;
        outline: 1px solid lightgray;
        p{
            width: 50px;
            height: 50px;
            line-height: 50px;
            text-align: center;
        }
    }
    .drawButton:hover{
        background-color: antiquewhite;
    }
}